.mobile-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.mobile-app h2 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.mobile-app h2 span {
    color: var(--primary-color);
}

.mobile-app .images {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.mobile-app .images img{
    width: 180px;
    cursor: pointer;
}